<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    <style>
        .container {
        max-width: 560px;
        }
        .field-error{
            border-color: #dc3545;
            color : #dc3545
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.addTodoForm}">할 일 등록 폼</h2>
    </div>
    <h4 class="mb-3" th:text="#{page.addTodo}">할 일 입력</h4>
    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="work" th:text="#{label.item.work}">할 일</label>
            <input type="text" th:field="*{work}" class="form-control" th:errorclass="field-error"
                   placeholder="할 일을 입력하세요" th:placeholder="#{input.work.placeholder}">
        </div>
        <div class="field-error" th:errors="*{work}"></div>
        <div>
            <label for="endDate" th:text="#{label.item.endDate}">기한</label>
            <input type="datetime-local" id="endDate" th:field="*{endDate}" class="form-control" th:errorclass="field-error"
                   placeholder="기한을 입력하세요" th:placeholder="#{input.endDate.placeholder}">
        </div>
        <div class="field-error" th:errors="*{endDate}"></div>
        <div>
            <div th:text="#{label.item.finishType}">완료 여부</div>
            <div th:each="type : ${finishTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{finishType}" th:value="${type.name()}" class="form-check-input" th:errorclass="field-error">
                <label th:for="${#ids.prev('finishType')}" th:text="${type.description}" class="form-check-label">
                    완료
                </label>
            </div>
            <div class="field-error" th:errors="*{finishType}"></div>
        </div>
        <div>
            <label for="note" th:text="#{label.item.note}">비고</label>
            <textarea th:field="*{note}" class="form-control"></textarea>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.addTodo}">할 일 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/basic/items}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>