<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <h4 class="mb-3" th:text="|로그인: ${member.id}|">로그인 멤버 아이디</h4>
    <div>
        <form th:action="@{/logout}" method="post" >
            <button type="submit">로그아웃</button>
        </form>
    </div>
    <div class="py-5 text-center">
        <h2>to do list</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/items/add}'|"
                    type="button" th:text="#{button.addTodo}">할 일 등록
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary float-end"
                    th:onclick="|location.href='@{/basic/items/download}'|"
                    type="button">다운로드
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.item.id}">ID</th>
                <th th:text="#{label.item.work}">할 일</th>
                <th th:text="#{label.item.endDate}">기한</th>
                <th th:text="#{label.item.finishType}">완료 여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{/basic/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">1</a></td>
                <td><a href="item.html" th:href="@{|/basic/items/${item.id}|}" th:text="${item.work}">테스트1</a></td>
                <td th:text="${{item.endDate}}">2024.01.20</td>
                <td th:text="${item.finishType}">미완</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>